:root {
    --beige: #F5F5DC;
    --verde: #8FBC8F;
    --verde-oscuro: #1E5B45;
    --verde-principal: #4CAF83;
    --azul-oscuro: #1D3557;
    --verde-claro: #D6EBC5;
}

.custom-navbar {
    background-color: var(--verde-oscuro) !important;
    /* Asegura el fondo oscuro */
    padding: 20px 0;
}

.custom-navbar .navbar-brand {
    color: white !important;
}

.custom-navbar .nav-link {
    color: white !important;
    font-weight: 500;
}

.custom-navbar .nav-link:hover {
    color: var(--verde-claro) !important;
}

/* Hamburguesa para móviles */
.custom-navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

/* Ícono de la hamburguesa en blanco */
.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.custom-navbar .navbar-toggler:focus {
    box-shadow: none;
}

/* Botones personalizados en Navbar */
.btn-login {
    border: 1px solid white !important;
    color: white !important;
    background: transparent;
}

.btn-login:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white !important;
}

.btn-register {
    background-color: var(--verde-claro) !important;
    color: var(--verde-oscuro) !important;
    font-weight: 600;
    border: none;
}

.btn-register:hover {
    background-color: var(--verde) !important;
}


.hero {
    min-height: 75vh;
    background-image: linear-gradient(90deg,
            rgba(0, 0, 0, .75) 0%,
            rgba(0, 0, 0, .55) 35%,
            rgba(0, 0, 0, .15) 100%), url("/img/hero.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero-content {
    max-width: 700px;
    color: white;
    margin-top: -80px;
    padding-left: 20px;
}

.hero-badge {
    display: inline-block;
    background: rgba(255, 255, 255, .2);
    padding: .7rem 1.2rem;
    border-radius: 30px;
    margin-bottom: 1.5rem;
    font-size: .9rem;
}

.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.05;
}

.hero-content h1 span {
    color: var(--verde-principal);
}

.hero-content p {
    font-size: 1.2rem;
    margin: 1.5rem 0;
    max-width: 550px;

}

.hero-btn {
    display: inline-block;
    margin-top: 30px;
    background-color: var(--verde-principal);
    color: white;
    padding: 14px 28px;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s ease;
    box-shadow: 0 8px 20px rgba(76, 175, 131, .35);
}

.hero-btn:hover {
    background-color: #3d9770;
    transform: translateY(-2px);
}